.App {
  text-align: center;
}


.App-header {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: white;
}
.headnav{
  border-bottom: 1px solid white;
  background-image: linear-gradient(120deg, #1E5128, #4E9F3D);
  color: white;
  font-weight: bold;
  font-size: calc(12px + 2vmin);
  padding-top: 10px;
  padding-bottom: 10px;
}