.chat_window {
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 15px;
  margin-top: 8px;
  overflow: auto;
  height: 78vh;
  width: 60vh;
  background-color: #dadada;
  /* background-image: url(asset/chatback.PNG); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.back{
  background-image: url(asset/chatbackpic.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:contain;
}

.inputbox {
  background-color: #dadada;
  width: calc(60vh - 60px);
  border-radius: 6px;
  border: 1px solid black;
  height: auto;
  padding: 8px;
}

.profile_pic_bot {
  height: 55px;
  width: 60px;
  padding: 10px;
}
.profile_pic_user {
  height: 40px;
  width: 40px;
  padding: 10px;
}

.chat_msg {
  max-width: 50%;
  width: auto;
  display: inline-block;
  padding: "8px";
  borderradius: "12px";
  color: inherit;
  border: inherit;
  backgroundimage: inherit;
}

.chat_div {
  display: flex;
  align-items: center;
}

.listening-popup {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
