.chat_window{
    border-radius: 10px;
    border: 1px solid black; 
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: auto;
    /* padding: 10px; */
    height: 80vh;
    width: 60vh;
    background-color: #e2e2e2;
    /* background-image: linear-gradient(-60deg, #99ffa3, #ffffff); */

}

.inputbox{
    width: calc(60vh - 44px);
    border-radius: 6px;
    border: 1px solid black;
    height: auto;
    padding: 8px;
}
form{
    display: inline-block;
    align-items: center;
}
.profile_pic_bot{
    height: 5vh;
    width: 6vh;
    padding: 10px;
    
}
.profile_pic_user{
    height: 4vh;
    width: 4vh;
    padding: 10px;
    
}

/* Chatbot.css */
.chat_msg {
    max-width: 50%; /* Maximum width */
    width: auto; /* Default width */
    display: inline-block;
    padding: '8px';
    borderRadius: '12px';
    color: inherit; /* Inherits from inline style */
    border: inherit; /* Inherits from inline style */
    backgroundImage: inherit; /* Inherits from inline style */
  }
  
.chat_div{
    display: flex;
    align-items:center;
}