h2 {
  font-weight: 900;
}

li {
  border-radius: 10px;
  padding: 10px;
  background-image: linear-gradient(120deg, #1e5128, #4e9f3d);
  margin: 10px;
  padding-top: 10px;
  font-weight: 500;
}
.gotochat {
  /* background-color: #ffffff; */
  /* background-image: linear-gradient(120deg, #1e5128, #4e9f3d); */
  width: fit-content;
  height: fit-content;
}
li:hover {
  background-color: #4e9f3d;
}
a{
  text-decoration: none;
}
.aa {
  border-radius: 8px;
  padding: 10px;
  margin: 8px;
  margin-top: 20px;
  background-color: #ffffff;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.aaa {
  border-radius: 8px;
  padding: 10px;
  /* margin: 8px; */
  /* margin-top: 20px; */
  /* background-color: #ffffff; */
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.aa:hover {
  border: 1px solid black;
  background-color: #f9f9f9;
  color: rgb(0, 0, 0);
}

.hometitle {
  font-size: x-large;
  font-weight: 900;
  color: rgb(0, 0, 0);
}
.bodyhome {
  background-color: rgb(237, 237, 237);
  display: flex;
  justify-content: center;
}

.d1 {
  height: 200px;
  width: 100%;
  background-color: #007217;
  position: absolute;
}
.d2 {
  height: calc(100vh - 180px);
  width: 90%;
  /* background-color: #fbf6f2; */
  /* background-color: #e2f1e8; */
  background-image: url(./asset/slider.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  transform: translateY(90px);
}

.first_section{
  background-color: #e2f1e8;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.286);
  border-radius: 8px;
}
.second_section{
  background-image: linear-gradient(120deg, #fcf7f3, #f6fcfc);
}
.logoicon{
  height: 40px;
  width: 60px; 
}
.logoicon1{
  height: 40px;
  width: 40px; 
  margin-bottom: 10px;
}
