.navbg{
    background-color: #0F0F0F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.back2{
    background-color: black;
    height: 100vh;
    width: 100%;
}
.navimg{
    width: 10vh;
    height: auto;
}
.navimg2{
    height: auto;
    width: 3vh;
}

.introsec{
    min-height: 65vh;
    height:max-content;
    background-color: #000000;   
    /* width: 100%; */
}
.introsec1{
    padding-left: 15%; 
    padding-top: 5%; 
}

.introsec2{
    background-image: url('./asset/noipunno-new-logo.svg');
    background-repeat: no-repeat;
    background-position:top;
    background-size:contain;
}
a{
    text-decoration: none;
}

.gotochatbutton{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    background-color: #B7248E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.gotochatbutton:hover{
    background-color: #a7107c;
}

.sathiaitext{
    font-size: 40px;
}

.headingseba{
    background-color: #dadada;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.aa {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    margin: 8px;
    margin-top: 20px;
    background-color: #dadada;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.aa:hover{
    background-color: #b1b1b1;
    text-decoration: none;
    color: black;
}

.space{
    height: 5vh;
    /* width: 100%; */
}

.sebalogos{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.footersec{
    /* width: 100%; */
    padding: 3vh;
    max-height: 30vh;
    background-color: #dadada;
    border-top: 1px solid black;
}

.ekshhoplogo{
    width: 100%;
    height: auto;
    max-height: 50px;
    max-width: 170px;
}

.c1{
    border-right: 1px solid black;
    padding-left: 30px;
    margin-top: 30px;
}
.c2{
    padding-left: 30px;
    margin-top: 30px;
}

.logoset{
    width: 100%;
    height: auto;
}

.ekslogo{
    
}