* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  /* min-width:1140px; */
  min-width: 100%;
  height: 100%;

  font-family: "Kalpurush", "Noto Sans Bengali", Arial, sans-serif !important;
  /* font-family: Noto Sans Bengali, sans-serif,  Arial !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* 'CharukolaUltraLight', */
